::-webkit-scrollbar {
  width: 15px;
  transition-duration: .2s;
}

::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.945);
}

::-webkit-scrollbar-thumb {
  background: #c03e3e;
  background: linear-gradient(#d45252, #cf0000, #d45252);
  border-radius: 10px;
}

.contentdiv {
  display: flex;
  margin-left: 50%;
  align-items: center;
  display: inline;
  text-align: center;
  margin-top: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-image: linear-gradient(rgb(255, 140, 230), rgb(255, 165, 0), rgb(255, 209, 156), rgb(94, 94, 255));
  min-height: 100vh;
  margin-top: 0px;
}

.heronames {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -18px;
  scroll-snap-align: start;
}

p,
span,
h1,
button,
li {
  font-family: alegreya sans;
}


html,
body {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  overflow-x: hidden;
}

main {
  scroll-snap-type: y mandatory;

}

.container {
  color: #333;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.container h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: white;
}

.container li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: white;
}

.container li span {
  display: block;
  font-size: 4.5rem;
}

.rsvp-button {
  color: #333;
  background-color: #ffffff;
  font-family: alegreya sans;
  font-size: 2rem;
  padding: 1.5rem;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 2rem;
}

.names {
  font-family: bad script;
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 5rem;
  line-height: 1.7;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.201);
}

.nameswrapper {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.namespan {
  font-family: bad script;
  font-size: 2rem;
  display: block;
}

/* NAV CSS SECTION */

nav {
  height: 80px;
  display: flex;
  width: 100%;
}

.nav-logo {
  width: 80px;
  height: 80px;
}

.navul {
  padding-top: 1rem;
  padding-bottom: 6rem;
  list-style: none;
  color: white;
  height: 80px;
  width: 100%;
}

.navhead {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.201);
}

.navli {
  display: inline;
  vertical-align: middle;
  margin-left: 4vw;
  margin-right: 4vw;
}

.navli a {
  text-decoration: none;
}

.navwrapper {
  display: block;
}

/* slide section */
.slide {
  display: inline-block;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 90vh;
  z-index: -1;
  top: -100vh;
  background-color: #0a0a0a79;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

#rsvpslide.open,
#slide.open {
  transform: translateY(105vh) translateY(80px);
  z-index: 10;
}

.slide li {
  padding-left: 0px;
  padding: 3px;
  margin-bottom: 20px;
}

.slide a {
  color: white;
  font-family: alegreya sans;
  font-size: 3rem;
}

.slide ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  scroll-behavior: smooth;
}

.frstbar,
.scndbar,
.thrdbar {
  transition: all 0.35s linear;
  transform: rotate(0deg);
  transform-origin: 16.5% 50%;
}

#burgericon.open .frstbar {
  transform: rotate(45deg);
}

#burgericon.open .thrdbar {
  transform: rotate(-45deg);
}

#burgericon.open .scndbar {
  opacity: 0;
}

.rsvpslide {
  width: 74vw;
  height: 74vh;
  border-radius: 5rem;
  background-color: white;
  display: flex;
  position: fixed;
  align-items: center;
  top: -100vh;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.rsvpsection {
  font-family: alegreya sans;
  width: 37vw;
}

.rsvpsection:nth-child(1) {
  border-right: 2px solid #000;
}

.rsvpsection:nth-child(2) {
  border-left: 2px solid #000;
}

.rsvpslidetitle {
  font-family: bad script;
  font-size: 5rem;
}

.rsvpslideinfo {
  font-size: 3rem;
}

.divider {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rsvpa {
  text-decoration: none;
  color: black;
  border: 2px solid;
  border-radius: 2rem;
  border-width: 4px;
  padding: 1rem;
  font-size: 3rem;
  display: inline-block;
}

/* engagement section (not including the countdown timer) */

.engagement-section {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
}

.eswrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.201);
  border-radius: 5rem;
  color: white;
  flex-direction: column;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.container {
  border-right: 2px solid #ffffff;
}


.ersvp h1 {
  padding: .5rem;
  font-size: 2.5rem;
}

.ersvp p {
  padding: 1.5rem;
  font-size: 1.9rem;
}

#esid {
  height: 90vh;
}

.buttonwrapper {
  display: flex;
  margin: 2vh;
  justify-content: center;
  align-items: center;
}

.rsvpentrance {
  text-decoration: none;
  color: white;
  border: 2px solid;
  border-radius: 2rem;
  border-width: 4px;
  padding: 1rem;
  font-size: 3rem;
  display: inline-block;
}

.einfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  width: 100%;
}

.einfo ul {
  list-style-position: inside;
}

/* FAQ Section */

.faqsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.201);
  border-radius: 5rem;
  width: 90vw;
  padding-bottom: 1rem;
}

.fwrapper h1 {
  padding: .5rem;
  font-size: 2.5rem;
}

/* Accordion cleanup */

.accordion {
  width: 50vw;
  font-family: alegreya sans;
}

.accordion a {
  color: rgb(187, 187, 187);
}

.accordion .menu {
  background-color: #d5d5d5;
  color: #444;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  margin-top: 4px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.accordion .panel {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.201);
  color: #ffffff;
  overflow: hidden;
}

.accordion .open {
  display: block;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.accordion .close {
  display: none
}

.accordion .active {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accordion .arrow {
  float: right;
  display: block
}

.accordion .darrow {
  display: none
}

.accordion .active .darrow {
  display: block
}

.accordion .active .rarrow {
  display: none
}

/* wedding section */
.weddingsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: alegreya sans;
}

.wswrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.twohalves {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30%;
  width: 100%;
  margin-bottom: 10%;
}

.weddinghalf h1 {
  width: 100%;
}

.weddinghalf {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.weddingregistry {
  color: white;
}

.weddingregistry a,
.weddingregistry h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.weddinghalf:nth-child(1) {
  border-right: 2px solid #ffffff;
}

.weddinghald:nth-child(2) {
  border-left: 2px solid #ffffff;
}

/* photo gallery section */

.photosection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: alegreya sans;
}

.photosection h1 {
  margin: 3rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
}

.pswrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.gallery {
  height: 75%;
  width: 94%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memories {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: rgb(129, 103, 72);
  text-shadow: rgba(182, 150, 112, 0.5) 0px 0px 8px;
  animation: flickerAnimation 5s infinite;
  text-shadow: 0px 0px 8px rgba(182, 150, 112, 0.5);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.3;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  70% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/* this small snippet deals with background images for final 2 sections */
.weddingsection,
.photosection {
  background-image: url(./assets/leaves.webp);
  background-repeat: repeat;
}

.weddingsection {
  background-position-y: 320px;
}

/* footer section */
footer {
  background-color: #0a0a0a;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: .5rem;
}

/* previous cloudwork leftovers */

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

/* ------------------- RESPONSIVE STUFF BELOW ------------------- */

/* 1478 W to fix RSVP Menu item sizes */

@media screen and (max-width: 1478px) {
  .rsvpslidetitle {
    font-size: 3rem;
  }

  .rsvpslideinfo {
    font-size: 1.5rem;
  }

  .rsvpa {
    font-size: 2rem;
    padding: .5rem;
  }

  .pswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery {
    width: 75%;
  }

}

/* 892 W to fix RSVP menu item sizes again AND to fix ERSVP section*/

@media screen and (max-width: 892px) {
  .rsvpsection:nth-child(1) {
    border-right: 2px solid #ffffff;
  }

  .rsvpsection:nth-child(2) {
    border-left: 2px solid #ffffff;
  }

  .rsvpslide {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container ul li span {
    font-size: 1.5rem;
  }

  .einfo {
    font-size: 1.1rem;
  }

  .buttonwrapper {
    margin: 0;
  }

}

/* 650 W to fix RSVP menu item sizes YET AGAIN */

@media screen and (max-width: 650px) {
  .divider {
    display: none;
  }
}

/* 447 W to fix RSVP menu final time */

@media screen and (max-width: 447px) {
  .rsvpa {
    font-size: 1rem;
  }

  .rsvpsection {
    width: 50vw;
  }

  .rsvpslidetitle {
    font-size: 2rem;
  }
}

/* 1332 W to fix heights of ERSVP section */

@media screen and (max-width: 1332px) {
  .container ul li span {
    font-size: 2rem;
  }

  .einfo {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1174px) {
  .engagement-section {
    height: 140vh;
  }


  #esid {
    height: 135vh;
  }
}

@media screen and (max-width: 860px) {
  .container ul li {
    font-size: 1.1rem;
  }

  .einfo {
    font-size: 1rem;
  }
}

/* 768 W to accomadate for mobile viewing (making flexbox column) */

@media screen and (max-width: 768px) {
  .sidebyside {
    flex-direction: column;
  }

  .container {
    border-right: 0px;
  }

  .einfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery p {
    font-size: 1.5rem;
  }
}

/* continuing mobile proofing */

@media screen and (max-width: 535px) {
  #headline {
    font-size: 1rem;
  }

  .container ul li {
    font-size: 1rem;
  }

  .einfo {
    padding: 0px;
  }
}

@media screen and (max-width: 579px) {
  .engagement-section {
    height: 180vh;
  }

  .engagement-section .eswrapper {
    height: 170vh;
  }

  .names {
    font-size: 2.5rem;
  }

  .namespan {
    font-size: 1.5rem;
  }

  .nav-logo {
    height: 60px;
    width: 60px;
  }

  nav {
    vertical-align: middle;
  }

  .pswrapper {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .einfo {
    padding-top: 5vh;
  }

  .engagement-section {
    height: 190vh;
  }

  #esid {
    padding-top: 20vh;
    padding-bottom: 20vh;
    height: 180vh;
  }
}

@media screen and (max-width: 345px) {
  .names {
    font-size: 2.2rem;
  }

  .namespan {
    font-size: 1.2rem;
  }

  .einfo {
    padding-top: 10vh;
  }


  #esid {
    padding-top: 40vh;
    padding-bottom: 40vh;
  }
}