body {
  margin: 0px;
}

.loading-div {
  overflow: hidden;
}

.backgroundimg {
  position: fixed;
  width: 100%;
  top: -10%;
  animation: loadIn 1.8s linear forwards;
  z-index: 1;
}

.subjectimg {
  margin: auto;
  width: 100%;
  position: fixed;
  animation: loadOut 1.8s linear forwards;
  z-index: 1;
}

main div {
  display: flex;
  opacity: 0;
  position: fixed;
  margin-left: 50%;
  animation: contentShift 1.8s linear forwards;
  z-index: 2;
  background-color: white;
  min-width: 50%;
  min-height: 100%;
}

@keyframes contentShift {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadIn {
  0% {
    scale: 120%;
  }

  83.3% {
    scale: 130%;
    left: 0%;
  }

  100% {
    left: -18%;
    scale: 130%;
  }
}

@keyframes loadOut {
  0% {
    scale: 100%;
  }

  83.3% {
    scale: 90%;
    left: 0%;
  }

  100% {
    left: -25%;
    scale: 90%;
  }
}